@using Microsoft.AspNetCore.Http
@using DanielSchool.Core.Application.Dtos.Account
@using DanielSchool.Core.Application.Helpers
@using DanielSchool.Core.Application.Enums
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = User != null ? User.Roles.Any(r => r == EnumRoles.Admin.ToString()) : false;
    var isStudent = User != null ? User.Roles.Any(r => r == EnumRoles.Estudiante.ToString()) : false;
    var isTeacher = User != null ? User.Roles.Any(r => r == EnumRoles.Profesor.ToString()) : false;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DanielSchool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img src="~/img/ProjectImages/Icons/ds.png" alt="" style="width:50px ;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="@(User!=null ? "Home": "User")" asp-action="Index">DS Tecnology</a>
                        </li>
                        @if (User != null)
                        {
                            if (isAdmin)
                            {
                            }
                            if(isTeacher)
                            {
                            }
                            if (isStudent)
                            {
                            }

                        }
                        else
                        {

                        }
                            
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Grades" asp-action="Index">Grades</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="AboutUs" tabindex="-1" aria-current="true">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Contat us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Tutorial" asp-action="Index">Tutorials</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Compiler" asp-action="Index">python compiler DEMO</a>
                        </li>

                    </ul>
                    <div class="d-flex">
                        @if (User != null)
                        {
                            <a class="btn btn-danger" asp-controller="User" asp-action="LogOut">Cerrar Sesion</a>
                        }
                        else
                        {
                            <a class="btn btn-success" asp-controller="User" asp-action="LogIn">Iniciar Sesion</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DanielSchool
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
