@using DanielSchool.Core.Application.ViewModels.Calificacion;
@using DanielSchool.Core.Application.ViewModels.DescCalificacion;
@using DanielSchool.Core.Application.Enums;


@model PreSaveCalificacionViewModel;
@{
    ViewData["Title"] = "Student Qualification";
    string[] meses = {"Agosto","Septiembre","Octubre","Noviembre","Diciembre","Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio"};
    string[] Number = {"One","Two","Three","Four","Five","Six","Seven","Eight","Nine","Ten","Eleven","Twelve"};
    int index = 0;

}
<link rel="stylesheet" href="~/css/TableCalificacion.css">
<div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-4 lg:m-4">
        <div class=" xl:col-span-2 sm:shrink-0 sm:col-span-1 lg:ml-7 sm:px-10" >
          <div class="w-full  mx-auto">
            <div class="shadow-md">
                @for(int M = 1; M<=12; M++)
                {
                    <div class="tab w-full overflow-hidden border-t">
                          <input  class="absolute opacity-0" id="tab-single-@(Number[M-1])" type="radio" name="tabs2">
                          <label class="block p-5 leading-normal cursor-pointer" for="tab-single-@(Number[M-1])">@meses[M-1]</label>
                          <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                            <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200" style="margin-bottom:1%; margin-top: 1%;">
          
                              <div class="p-3">
                                <div class="overflow-x-auto">
                                  <table class="table-auto w-full">
                                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                      <tr>
                                        <th class="p-2 whitespace-nowrap">
                                          <div class="font-semibold text-left">Meta</div>
                                        </th>
                                        <th class="p-2 whitespace-nowrap">
                                          <div class="font-semibold text-left">Nota</div>
                                        </th>
                                        <th class="p-2 whitespace-nowrap">
                                          <div class="font-semibold text-left">Comentario</div>
                                        </th>
                                        <th class="p-2 whitespace-nowrap">
                                          <div class="font-semibold text-center">Country</div>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody class="text-sm divide-y divide-gray-100">
                                      @for(int S=1;S<=4; S++)
                                      {
                                          <tr>
                                            <td class="p-2 whitespace-nowrap">
                                              <div class="flex items-center">
                                                <div class="font-medium text-gray-800">@Model.Calificacion.Where(Q=>Q.Week == S && Q.Month == M).FirstOrDefault().Meta</div>
                                              </div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                                <div class="flex space-x-2">
                                                    @if(@Model.Calificacion.Where(Q=>Q.Week == S && Q.Month == M).FirstOrDefault().Nota.Equals(EnumCalificacion.Iniciado.ToString()))
                                                    {
                                                        <div style="padding-top: 0.1em; padding-bottom: 0.1rem" class="text-xs px-2 bg-gray-200 text-pink-800 rounded-full">Iniciado</div>
                                                    }
                                                    else if(Model.Calificacion.Where(Q=>Q.Week == S && Q.Month ==M).FirstOrDefault().Nota.Equals(EnumCalificacion.EnProceso.ToString()))
                                                    {
                                                        <div style="padding-top: 0.1em; padding-bottom: 0.1rem" class="text-xs px-2 bg-orange-200 text-pink-800 rounded-full">En proceso</div>
                                                    }
                                                    else
                                                    {
                                                        <div style="padding-top: 0.1em; padding-bottom: 0.1rem" class="text-xs px-2 bg-green-200 text-pink-800 rounded-full">Logrado</div>
                                                    }
                                                 </div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                              <div class="text-left">@Model.Calificacion.Where(Q=>Q.Week == S && Q.Month == M).FirstOrDefault().Comentarios</div>
                                            </td>
                                            <td class="p-2 whitespace-nowrap">
                                              <div class="text-lg text-center">🇺🇸</div>
                                            </td>
                                          </tr>
                                          index++;
                                      }
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                     </div>
                } 
            </div>
         </div>
        </div>
        <div class="lg:col-span-1  sm:shrink-0 sm:col-span-1 sm:mx-0 sm:px-0">
                
            <img class="w-[550px]" src="~/img/ProjectImages/General/blank.jpg"/>
            <img class="w-[550px] mt-10" src="~/img/ProjectImages/General/blank.jpg"/>
        </div>
      </div>
<script src="~/js/TableCalificacion.js" asp-append-version="true"></script>