@using DanielSchool.Core.Application.ViewModels.Calificacion;
@model PreSaveCalificacionViewModel;
    <form asp-controller ="Profesor" asp-action="Test" method="post">
            <input asp-for="StudentId"type="hidden" class="form-control" />
            <button type="submit" class="btn btn-success">Submit</button>
       </form> 
    

